<nav class="d-flex flex-row flex-wrap justify-content-between align-items-center">
    <img src="" alt="Icono de la aplicacion">
    <ul class="d-flex flex-row flex-wrap justify-content-between align-items-center">
        {% if request.session.user_id %}
        <li><a href="{% url 'main' %}">Inicio</a></li>
        {% if permissions %}
            {% if permissions|length > 0 %}
                    {% for permission in permissions %}
                        {% if permission.value|default_if_none:'' == 'usuarios' %}
                            <li><a href="{% url 'users' %}"><i class="fa-solid fa-users"></i> Usuarios</a></li>
                        {% elif permission.value|default_if_none:'' == 'personalizacion' %}
                            <li><a href="{% url 'customize' %}"><i class="fa-solid fa-palette"></i> Personalización</a></li>
                        {% endif %}
                    {% endfor %}
            {% else %}
            {% endif %}
        {% endif %}
        <li><a href="{% url 'logout' %}">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a></li>
        {% endif %}
    </ul>
</nav>
