main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>form{
    width: 90%;
    background: #ddd8d8;
    padding: .5em;
    border-radius: 4px;
}

main>form>input,
main>form>button,
main>form>textarea,
main>form>div{
    margin-top: .5em;
}

main>form>div{
    width: 100%;
}

input[type="color"]{
    margin-right: .25em;
}

h1{
    width: 100%;
}