{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestorDDBB</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{% static 'bootstrap.bundle.min.js' %}"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    {% block importaciones %}
    {% endblock %}
</head>

<body class="d-flex flex-column justify-content-space-between align-items-center">
    <header>
        {% include 'partials/header.html' %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>