main,
#app{
    display: flex;
    flex-direction: column;
}

#app,
#main-principal{
    flex-grow: 1;
}

#main-principal{
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: .25em;
}

#main-principal>div:first-child{
    margin-top: .25em;
    padding: .25em;
    overflow-x: scroll;
}

.main-conexiones ul{
    overflow-y: scroll;
}

.main-conexiones button{
    margin-left: .25em;
}

.modal form>* {
    margin-top: .25em;
}

.modal form>div {
    width: 100%;
}

.modal form>div>button{
    margin-left: .25em;
}