{% extends 'layout.html' %}

{% load static %}

{% block importaciones %}
<link rel="stylesheet" href="{% static 'css/user/index.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-end align-items-center acciones">
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#user-modal"
        id="create-user"><i class="fa-solid fa-user"></i> Crear usuario</button>
</div>
<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre real</th>
            <th scope="col">Email</th>
            <th scope="col">Grupo</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody id="usuarios">
            {% for user in users %}
            <tr>
                <td>{{ user.name }}<input type="hidden" name="user-name-{{ user.id }}" id="user-name-{{ user.id }}"
                        value="{{ user.name }}"></td>
                <td>{{ user.real_name }}<input type="hidden" name="user-real_name-{{ user.id }}"
                        id="user-real_name-{{ user.id }}" value="{{ user.real_name }}"></td>
                <td>{{ user.email }}<input type="hidden" name="user-email-{{ user.id }}" id="user-email-{{ user.id }}"
                        value="{{ user.email }}"></td>
                <td>{{user.group.desc_group}}<input type="hidden" name="user-desc_group-{{ user.id }}"
                        id="user-desc_group-{{ user.id }}" value="{{ user.group.desc_group }}"></td>
                <td><button type="button" class="btn btn-primary btn-lg editar" data-bs-toggle="modal"
                        data-bs-target="#user-modal" id="editar-{{ user.id }}"><i class="fa fa-pencil"></i></button><input type="hidden"
                        name="user-id-{{ user.id }}" id="user-id-{{ user.id }}" value="{{ user.id }}"></td>
                <td><button type="button" class="btn btn-danger btn-lg borrar" data-bs-toggle="modal"
                        data-bs-target="#delete-user" id="borrar-{{ user.id }}"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="user-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="create-user-form-tab" data-bs-toggle="tab"
                            data-bs-target="#create-user-form" type="button" role="tab" aria-controls="create-user-form"
                            aria-selected="true">Crear usuario</button>
                        <button class="nav-link" id="change-password-tab" data-bs-toggle="tab"
                            data-bs-target="#change-password" type="button" role="tab" aria-controls="change-password"
                            aria-selected="false">Cambiar
                            contraseña</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="create-user-form" role="tabpanel"
                        aria-labelledby="create-user-form-tab">
                        <form action="" method="POST"
                            class="d-flex flex-column justify-content-between align-items-end">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id" value="new">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Usuario...">
                            <input type="text" id="real_name" name="real_name" class="form-control"
                                placeholder="Nombre real...">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email...">
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Contraseña...">
                            <input type="password" id="repeat_password" name="repeat_password" class="form-control"
                                placeholder="Repite la contraseña...">
                            <div class="d-flex flex-row flex-wrap justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar Cambios</button>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="change-password" role="tabpanel"
                        aria-labelledby="change-password-tab">
                        <form action="" method="POST"
                            class="d-flex flex-column justify-content-between align-items-end">
                            {% csrf_token %}
                            <input type="hidden" name="cambio_id" id="cambio_id" value="new">
                            <input type="password" id="cambio_password" name="cambio_password" class="form-control"
                                placeholder="Contraseña...">
                            <input type="password" id="cambio_repeat_password" name="cambio_repeat_password"
                                class="form-control" placeholder="Repite la contraseña...">
                            <div class="d-flex flex-row flex-wrap justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary btn-lg">Cambiar contraseña</button>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-user" tabindex="-1" aria-labelledby="delete-userLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>¿Seguro que quieres eliminar al usuario?</h3>
                <form action="" method="POST" class="d-flex flex-column justify-content-between align-items-end">
                    {% csrf_token %}
                    <input type="hidden" name="borrar_id" id="borrar_id" value="new">
                    <div class="d-flex flex-row flex-wrap justify-content-end align-items-center">
                        <button type="submit" class="btn btn-danger btn-lg">Borrar</button>
                        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'scripts/users/index.js' %}"></script>
{% endblock %}