main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main>form{
    width: 90%;
    background: #b8b8b8;
    padding: .5em;
    border-radius: 4px;
}

main>form>input,
main>form>button{
    margin-top: .5em;
}

main img{
    width: 20%;
    height: auto;
}