<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="user-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="create-user-form-tab" data-bs-toggle="tab"
                            data-bs-target="#create-user-form" type="button" role="tab" aria-controls="create-user-form"
                            aria-selected="true">Crear usuario</button>
                        <button class="nav-link" id="change-password-tab" data-bs-toggle="tab"
                            data-bs-target="#change-password" type="button" role="tab" aria-controls="change-password"
                            aria-selected="false">Cambiar
                            contraseña</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="create-user-form" role="tabpanel"
                        aria-labelledby="create-user-form-tab">
                        <form action="{% url 'users-edit' %}" method="POST"
                            class="d-flex flex-column justify-content-between align-items-end">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id" value="new">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Usuario...">
                            <input type="text" id="real_name" name="real_name" class="form-control"
                                placeholder="Nombre real...">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email...">
                            <select class="form-select form-select-lg" name="group" id="group" placeholder="Grupo">
                                {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.desc_group }}</option>
                                {% endfor %}
                            </select>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Contraseña...">
                            <input type="password" id="repeat_password" name="repeat_password" class="form-control"
                                placeholder="Repite la contraseña...">
                            <div class="d-flex flex-row flex-wrap justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary btn-lg" id="save-changes" disabled>Guardar Cambios</button>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="change-password" role="tabpanel"
                        aria-labelledby="change-password-tab">
                        <form action="{% url 'users-password' %}" method="POST"
                            class="d-flex flex-column justify-content-between align-items-end">
                            {% csrf_token %}
                            <input type="hidden" name="cambio_id" id="cambio_id" value="new">
                            <input type="password" id="cambio_password" name="cambio_password" class="form-control"
                                placeholder="Contraseña...">
                            <input type="password" id="cambio_repeat_password" name="cambio_repeat_password"
                                class="form-control" placeholder="Repite la contraseña...">
                            <div class="d-flex flex-row flex-wrap justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary btn-lg" disabled id="change-password-button">Cambiar contraseña</button>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>